{% unless page.comments_locked == true %}
  <!-- Start new comment form -->
  <div id="respond" class="comment__form">
    <h2 class="title">
      Deixe um comentário
      <small>
        <a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">Cancelar resposta</a>
      </small>
    </h2>
    <form id="comment-form" class="js-form" method="post" action="https://us-central1-comments-api-888d3.cloudfunctions.net/comment/{{ site.repository }}">
      <div class="form__group">
        <label for="comment-form-name">
          <strong>Nome</strong>
          <input type="text" id="comment-form-name" name="name" required spellcheck="false">
        </label>

        <label for="comment-form-email">
          <strong>E-mail</strong> <small>(para o <a href="http://gravatar.com">Gravatar</a>)</small>
          <input type="email" id="comment-form-email" name="email" required spellcheck="false">
        </label>

        <label for="comment-form-url">
          <strong>Website</strong> <small>(opcional)</small>
          <input type="url" id="comment-form-url" name="url"/>
        </label>
      </div>
      <div class="form__group">
        <label for="comment-form-message">
          <strong>Comentário</strong>
          <textarea type="text" rows="6" id="comment-form-message" name="message" required spellcheck="true" maxlength="2000"></textarea>
        </label>
      </div>
      <fieldset class="hidden" style="display: none;">
        <input type="hidden" id="comment-replying-to" name="replying_to" value="">
        <input type="hidden" id="comment-post-id" name="slug" value="{{ page.slug }}">
        <label for="comment-form-location">Deixe esse campo em branco</label>
        <input type="checkbox" id="comment-form-location" name="tos" autocomplete="off">
      </fieldset>
      <!-- Start comment form alert messaging -->
      <p class="hidden js-notice">
        <span class="js-notice-text"></span>
      </p>
      <!-- End comment form alert messaging -->
      <button type="submit" id="comment-form-submit" class="btn">Enviar comentário</button>
    </form>
  </div>
  <!-- End new comment form -->
{% else %}
  <p class="disabled-comment-form">Esta postagem não permite receber novos comentários.</p>
{% endunless %}
