/* ==========================================================================
   Comments
   ========================================================================== */

$avatar-size: 90px;
$md-up: 768px;
$lg-up: 992px;
$sans-serif-font: Helvetica, Arial, sans-serif;
$line-height: 1.45;
$danger-color: #b11313;

@mixin margin-bottom($number) {
  margin-bottom: #{ $number * $line-height + 'rem'};
}
@mixin margin-top($number) {
  margin-top: #{ $number * $line-height + 'rem'};
}

.comment {
  display: flex;

  + .comment {
    margin-top: 2em;
  }

  &.child {
    margin-left: 40px;
    @include breakpoint($md-up) {
      margin-left: 80px;
    }
  }
}

.comment__avatar {
  $avatar-size: 30px;

  flex-shrink: 0;
  margin-right: 10px;
  width: $avatar-size;
  height: $avatar-size;
  background-color: #e3e3e3;

  @include breakpoint($md-up) {
    margin-right: 20px;
    width: (2 * $avatar-size);
    height: (2 * $avatar-size);
  }

  img {
    width: $avatar-size;
    height: $avatar-size;

    @include breakpoint($md-up) {
      width: (2 * $avatar-size);
      height: (2 * $avatar-size);
    }
  }
}

.comment__main {
  min-width: calc(100% - 40px); // fix overflowing code blocks (message width - avatar size)

  @include breakpoint($md-up) {
    min-width: calc(100% - 80px); // fix overflowing code blocks (message width - avatar size)
  }
}

.comment__meta {
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  border-bottom: 2px solid;

  a {
    color: inherit;
  }
}

.comment__message {
  > *:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }
}

.comment__reply {
  margin-top: 0.5em;
}

.comment__form {
  @include margin-bottom(2);

  .title {
    @include margin-top(2);

    &:before {
      @include margin-bottom(1);
      content: '';
      display: block;
      width: 2em;
      height: 0.125em;
      background-color: #000;
    }
  }
}

#cancel-comment-reply-link {
  margin-left: 1em;
  color: $danger-color;
}

/* ==========================================================================
   Forms
   ========================================================================== */

form {
  position: relative;
  max-width: 100%;

  [type="submit"] {
    @include margin-top(0.5);
  }
}

label {
  display: block;
  width: 100%;
  margin-top: 0;
  @include margin-bottom(0.5);
}

input, textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0.75em 0.5em;
  vertical-align: top;
  overflow: visible;
  font-family: $sans-serif-font;
  background: #f7f7f7;
  border: 2px solid #646a71;
  border-radius: 0.25em;
  -webkit-appearance: none;
  
  &:focus {
    border-color: #d72323;
    outline: none;
  }
}

.form__group {
  @include breakpoint($lg-up) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 -0.5em 1em;

    > * {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}

textarea {
  resize: vertical;
}

select {
  max-width: 100%;
  width: auto;
}

.disabled-comment-form {
  color: #d72323;
  font-style: italic;
}

.reply-comment {
  font-size: 0.8em;
  text-decoration: none;
  &:focus, &:hover {
    text-decoration: underline;
  }
  &::before {
    content: '➔ ';
    color: #303841;
  }
}